django==6.0.1
pydantic==2.12.5
fastapi==0.128.0
pytest
pytest-django
python-dotenv
aiogram==3.24.0
uvicorn[standard]

requests
zulip

# Only required for serverless deployment
# mangum
# djantic2

# Only required if using Postgres
psycopg2-binary
whitenoise

